@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
:root {
  --primary: #80f0ff;
  --dark: #0c121c;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Saira", sans-serif;
  @apply text-primary;
}
h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-3xl font-bold;
}
h3 {
  @apply text-2xl font-semibold;
}
h6 {
  @apply text-sm;
}
p {
  @apply text-base;
}

.card {
  @apply border-solid bg-primary rounded-lg text-black flex flex-col justify-between overflow-hidden shadow-elevated;
  height: 500px;
  width: 300px;
}
@media (max-width: 650px) {
  .projects-container:not(.show-all) .card-container:nth-child(n + 4) {
    display: none;
  }
  .projects-container.show-all .card-container:nth-child(n + 4) {
    transform-origin: top;
    animation: showMore 0.5s ease-in-out;
  }
  .projects-container.hide-anim .card-container:nth-child(n + 4) {
    transform-origin: top;
    animation: showLess 0.5s ease-in-out;
  }
}

@keyframes showMore {
  from {
    opacity: 0;
    transform: translateY(-20px) scaleY(0);
  }
}
@keyframes showLess {
  to {
    opacity: 0;
    transform: translateY(20px) scaleY(0);
  }
}

.navbar li {
  cursor: pointer;
  @apply hover:text-white;
}

/*
#ececec
#ffecdb
#f2f1ef
#fffacd
*/
