@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
:root {
  --primary: #80f0ff;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Saira", sans-serif;
  @apply text-primary;
}
h1 {
  @apply text-6xl font-bold;
}
h2 {
  @apply text-5xl font-bold;
}
h3 {
  @apply text-2xl font-semibold;
}
h6 {
  @apply text-sm;
}
p {
  @apply text-base;
}

.card {
  @apply border-solid bg-primary rounded-lg text-black flex flex-col justify-between overflow-hidden shadow-elevated;
  height: 500px;
  width: 300px;
}

.navbar li {
  cursor: pointer;
  @apply hover:text-white;
}

/*
#ececec
#ffecdb
#f2f1ef
#fffacd
*/
